<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatBot App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main-container">
        <button class="bot-btn  "><img src="/images/bot-20-filled.svg" alt=""></button>


        <div id="chat-box" class="dis">
            <div class="chat-area">
            
            </div>
            <div class="input-taking-area">
            <button class="bot-btn"><img src="/images/bot-20-filled.svg" alt=""></button>
            <input type="text" name="messages" placeholder="message" class="text-inbox">
            <button class="send-btn">Send</button>
           </div>
        </div>
    </div>
    <script src="/frontend.js"></script>
</body>
</html>