*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
height: 100vh;
background-color: rgb(103, 103, 150);
display: flex;
align-items: center;
justify-content: center;
}
#chat-box{
background-color:#03045E;
padding: 10px 5px;
border-radius: 10px;
}
#chat-box .bot-btn{
width: 30px;
height: 30px;
border: 1px solid #90E0EF;
background-color: #03045E;
}
#chat-box .bot-btn img {
width: 20px;
}
.chat-area{
padding: 10px 5px;
border-radius: 20px;
display: flex;
flex-direction: column;
gap: 20px;
width: 300px;
}
.user-text{
color: #00B4D8;
font-size: 0.9rem;
display: inline;
text-align: right;
padding: 10px 20px;
border-radius: 0px 0px 0px 30px;
}
.bot-text{
color: #0077B6;
font-size: 0.9rem;
display: inline-block;
padding: 10px 20px;
border-radius: 0px 0px 30px 0px;
}
.bot-btn{
    border: none;
    outline: none;
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 60%;
    cursor: pointer;
}
@keyframes botBtnAnimation{
    
}
.bot-btn img{
    width: 40px;
}
.text-inbox{
    border: none;
    background-color: #03045E;
    color: #CAF0F8;
    padding: 10px 20px;
    outline: none;
}
.input-taking-area{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03045E;
    padding: 10px 0px;
    position: relative;
}
.send-btn{
    border: none;
    background-color: #90E0EF;
    color: #03045E;
    font-weight: 600;
    height: 100%;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
}
.dis{
    display: none;
}